<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.it.antares.antarescalciobalilla" >

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
           ></activity>
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="xDpvxwhXo88YZxdD7GwRu3Kd70I6RSsFAJVRyfgg" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="KMbwlNhzBICIZ9A6W5W1WdPHy3aoXZP9mti5AWyF" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
